/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(6, 8, 65, 0.83);
}
@media (max-width:500px) {
  html,
  body {
    width: 500px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', cursive;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 1.8rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width:800px) {
  .container {
    max-width: 800px;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: "";
  padding: 1%;
}
nav .logo {
  display: flex;
  flex-wrap: wrap;
  font-size: 5rem;
}
@media (max-width:500px) {
  nav .logo {
    justify-content: center;
    width: 100%;
    margin-top: 5%;
  }
}
@media (max-width:800px) {
  nav .logo {
    justify-content: center;
    width: 100%;
    margin-top: 2%;
  }
}
nav .logo a {
  text-decoration: none;
  color: #1073ac;
  font-family: 'Satisfy';
}
@media (max-width:500px) {
  nav {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width:800px) {
  nav {
    flex-direction: column;
    width: 100%;
  }
}
nav .menu {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width:500px) {
  nav .menu {
    width: 100%;
  }
}
@media (max-width:800px) {
  nav .menu {
    width: 90%;
  }
}
nav .menu a {
  text-decoration: none;
  color: rgba(6, 8, 65, 0.666);
  font-size: 1.4rem;
  transition-duration: 0.3s;
}
nav .menu a:hover {
  color: rgba(6, 8, 65);
}
nav .user-img {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width:500px) {
  nav .user-img {
    justify-content: center;
  }
}
@media (max-width:800px) {
  nav .user-img {
    justify-content: center;
  }
}
nav .user-img img {
  width: 25px;
}
nav .user-img h4 {
  margin: 0 16px;
  padding: 0;
  font-size: 12px;
}
@media (max-width:800px) {
  nav .user-img h4 {
    margin: 0 0 0 5px;
  }
}
nav .user-img h4 a {
  text-decoration: none;
  color: rgba(128, 128, 128);
  transition-duration: 0.3s;
}
nav .user-img h4 a:hover {
  color: rgba(6, 8, 65);
}
footer {
  margin-top: 20px;
  padding: 0 50px;
  width: 100%;
  background-color: rgba(9, 75, 114, 0.789);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:500px) {
  footer {
    justify-content: center;
  }
}
footer a {
  width: 10%;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.851);
  transition-duration: 0.3s;
}
footer a:hover {
  color: black;
}
@media (max-width:500px) {
  footer a {
    display: none;
  }
}
@media (max-width:800px) {
  footer a {
    font-size: 1rem;
  }
}
footer p {
  padding: 0;
  color: rgba(255, 255, 255, 0.851);
}
.home header .banner {
  position: relative;
  height: 300px;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
.home header .banner .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.home header .banner #video {
  width: 1000px;
}
@media (max-width:500px) {
  .home header .banner {
    width: 100%;
  }
}
.home .about-content {
  padding: 10%;
  margin-top: 20px;
  background-image: url("https://images.unsplash.com/photo-1554189097-ffe88e998a2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}
.home .about-content h1 {
  color: rgba(255, 255, 255, 0.652);
  font-size: 200px;
  text-align: end;
  margin-right: 20px;
}
.home .about-content .member {
  transition-duration: 0.3s;
  position: relative;
}
.home .about-content .member:hover img {
  opacity: 1;
  cursor: pointer;
}
.home .about-content .member:hover #Nolan,
.home .about-content .member:hover #Daniel {
  margin-right: 20px;
}
@media (max-width:500px) {
  .home .about-content .member:hover #Nolan,
  .home .about-content .member:hover #Daniel {
    margin-right: 0px;
  }
}
.home .about-content .member:hover #Afia,
.home .about-content .member:hover #Jane,
.home .about-content .member:hover #Zahid {
  margin-left: 20px;
}
@media (max-width:500px) {
  .home .about-content .member:hover #Afia,
  .home .about-content .member:hover #Jane,
  .home .about-content .member:hover #Zahid {
    margin-left: 0px;
  }
}
.home .about-content .member:hover .role {
  display: block;
  margin-left: 20px;
}
.home .about-content .member a {
  position: absolute;
  top: 0;
  margin: 5px;
}
.home .about-content .member a i {
  color: #8ac6ee;
  font-size: 30px;
}
.home .about-content .member #afia-github,
.home .about-content .member #jane-github,
.home .about-content .member #zahid-github {
  right: 0;
}
.home .about-content .member #daniel-github,
.home .about-content .member #nolan-github {
  left: 0;
}
@media (max-width:500px) {
  .home .about-content .member #daniel-github,
  .home .about-content .member #nolan-github {
    left: 87%;
  }
}
.home .about-content .member .aboutUs {
  z-index: 2;
  width: 300px;
  background-color: rgba(11, 78, 78, 0.55);
  height: 300px;
  margin: 0;
  color: white;
  position: relative;
  transition-duration: 0.3s;
}
.home .about-content .member .aboutUs h3 {
  font-size: 50px;
  text-align: right;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.home .about-content .member .aboutUs:hover {
  background-color: rgba(150, 205, 205, 0.748);
}
.home .about-content .member .role {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.646);
  width: 300px;
  height: 70px;
  display: none;
  transition-duration: 0.5s;
  font-size: 20px;
  color: #557b8d;
  padding: 10px 5px;
  text-align: center;
}
.home .about-content .member .role h2 {
  font-size: 25px;
  color: #11517b;
  padding-bottom: 3px;
}
.home .about-content .member .role-right {
  right: 0;
}
.home .about-content .member .role-left {
  left: -20px;
}
.home .about-content .member img {
  width: 300px;
  opacity: 0.9;
  margin: -1px 0;
  transition-duration: 0.3s;
}
@media (max-width:500px) {
  .home .about-content .member img {
    transition-duration: 0s;
  }
}
.home .content .quote {
  margin: 60px 170px;
  line-height: 30px;
  text-align: center;
}
.home .content .quote button {
  background-color: #1d6c6d;
  border-radius: 5px;
  height: 35px;
  margin: 10px;
  width: 180px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  transition-duration: 0.4s;
}
.home .content .quote button a {
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
}
.home .content .quote button:hover {
  background-color: #fff;
}
.home .content .quote button:hover a {
  color: #1d6c6d;
}
.home .content .quote span {
  font-weight: bold;
  color: #5cb3c9;
}
@media (max-width:500px) {
  .home .content .quote {
    margin: 50px 20px;
  }
}
@media (max-width:800px) {
  .home .content .quote {
    margin: 50px 100px;
  }
}
.home .content h3 {
  text-align: center;
}
.home .content #features {
  text-align: left;
}
@media (max-width:500px) {
  .home .content #features {
    margin-left: 20px;
  }
}
@media (max-width:800px) {
  .home .content #features {
    margin-left: 20px;
  }
}
.home .content .features {
  display: flex;
  justify-content: space-between;
  align-items: "";
  padding: 20px 0;
}
@media (max-width:500px) {
  .home .content .features {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:800px) {
  .home .content .features {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}
.home .content .features .col {
  display: flex;
  justify-content: space-between;
  align-items: "";
  flex-direction: column;
  height: 600px;
  width: 30%;
  box-shadow: 2px 2px 10px #a1a1a1b4;
}
@media (max-width:500px) {
  .home .content .features .col {
    width: 95%;
    height: 400px;
    flex-direction: row;
    margin: 1.5% 0;
  }
}
@media (max-width:800px) {
  .home .content .features .col {
    width: 95%;
    height: 400px;
    flex-direction: row;
    margin: 1.5% 0;
  }
}
.home .content .features .col .rowImg {
  background-color: #acd6f4;
  flex: 1;
}
.home .content .features .col #left-img {
  background-image: url("../img/left-img.jpg");
  background-size: cover;
}
.home .content .features .col #middle-img {
  background-image: url("../img/middle-img.jpg");
  background-size: cover;
}
.home .content .features .col #right-img {
  background-image: url("../img/right-img.jpg");
  background-size: cover;
}
.home .content .features .col .row {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 6%;
}
.home .content .features .col .row h2 {
  font-size: 1.9rem;
  font-weight: bold;
}
.home .content .features .col .row p {
  padding: 15px;
}
.home .contact-page {
  background-image: url("https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  margin: 1% 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home .contact-page .form {
  background-color: #fff;
  opacity: 0.95;
  height: 90vh;
  width: 49%;
  margin: 0 1%;
}
@media (max-width:500px) {
  .home .contact-page .form {
    width: 98%;
  }
}
.home .contact-page .form form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 3%;
}
.home .contact-page .form form label {
  font-size: 1.5rem;
  margin: 3% 1%;
}
.home .contact-page .form form input {
  height: 30px;
  width: 80%;
  margin-left: 1%;
}
.home .contact-page .form form textarea {
  margin-left: 1%;
  width: 80%;
}
.home .contact-page .form form #submit {
  background-color: #1d6c6d;
  border-radius: 5px;
  height: 35px;
  margin: 1%;
  width: 180px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5rem;
  transition-duration: 0.2s;
}
.home .contact-page .form form #submit:hover {
  background-color: #fff;
  color: #1d6c6d;
}
